%h1.contact Contact
#contact
  %p.text_bk Since the start of his film career at George Lucas' famed Skywalker Ranch, Peter Szewczyk has had a front row seat to the crafting of Hollywood blockbusters by the modern masters of cinema. Sitting through what Szewczyk calls “a decade of dailies” with the likes of James Cameron, Andrew Stanton, Andrew Adamson, and George Lucas, he studied intensely, each director's approach to storytelling. Szewczyk contributed as an artist, animator, designer, and technician to the legendary franchises of Harry Potter, Shrek, Star Wars and Ice Age, but it was not until his time on James Cameron's “Avatar” that Szewczyk felt he was ready to leave the trenches of digital production, for the challenges of directing.
  %p.text_bk As a first generation Pole, raised in Chicago, he balances the DIY spirit of American filmmaking, with the discipline and restraint more characteristic of European cinema. He currently lives in East London, where he is managing director of Light + Mathematics, a film and animation production company.
  
  .contact_title.text_bk Peter Szewczyk
  .contact_city.text_bk London, England
  %p.contact_url.text_bk== #{link_to "www.lightandmathematics.com", "http://www.lightandmathematics.com"}
  %br
  %p.contact_url.text_bk== #{link_to "email me", "mailto:judgepickles@gmail.com"}
  


