%h1.heading Contact
#contact
  .contact_title Peter Szewczyk
  .contact_city London, England
  %p.contact_url== #{link_to "www.lightandmathematics.com", "http://www.lightandmathematics.com"}
  %br
  


