%p.headline.text_bk A young girl, creative and idealistic, dreams of brighter days in a forgotten Eastern European city. Her fate is inextricably sealed when she crosses paths with a scheming, and enigmatic old woman, who harbours a dark secret. 
%p.headline.text_bk What seems like a small act of cruelty between strangers, will fracture the very foundations of a city.
#home.credits.text_bk Running Time: 8 minutes, 34 seconds
#home.credits.text_bk Genre: Drama/Suspense
#home.credits.text_bk Starring Anna Barry, Milla Karkannen
#home.credits.text_bk Written, Produced and Directed by Peter Szewczyk
%br
#home.credits.text_bk &copy; 2011 a Light + Mathematics production
%br
#home.credits.text_bk== #{link_to "www.lightandmathematics.com", "www.lightandmathematics.com"}
%br
#facebook_like.home_like= facebook_like
%br
#rushes_soho= festival