/ %h1 Colourbleed "The price you pay for a brighter day"
%p.headline A young girl, creative and idealistic, dreams of brighter days in a forgotten Eastern European city. Her fate is inextricably sealed when she crosses paths with a scheming, and enigmatic old woman, who harbours a dark secret. 
%p.headline What seems like a small act of cruelty between strangers, will fracture the very foundations of a city.
#home.credits Running Time: 8 minutes, 34 seconds
#home.credits Genre: Drama/Supense
#home.credits Starring Anna Barry, Milla Karkannen
#home.credits A Light + Mathematics Production
#home.credits Written, Produced and Directed by Peter Szewczyk
