%h1.heading News
%p.news== February 16th, 2011 - shooting wraps off the second half of the film in Krakow.
%p.news== December 4th, 2010 - shooting begins on the first half of the film in London.
%p.news== January 4th, 2011 - vfx begins on the first half, as does preproduction on the second half of the film.
%p.news== November 2010 - pre-production begins on the first half of the film.
%p.news== August 2010 - The idea for a short film is hatched and a treatment is prepared.
