%h1.news News
%p.news.text_bk== March 20th, 2011 - Post finishes in London at Mayflower Sound, and Light + Mathematics. The finished film is now ready for the festival circuit!
%p.news.text_bk== February 16th, 2011 - shooting wraps off the second half of the film in Krakow.
%p.news.text_bk== January 4th, 2011 - vfx begins on the first half, as does preproduction on the second half of the film.
%p.news.text_bk== December 4th, 2010 - shooting begins on the first half of the film in London.
%p.news.text_bk== November 2010 - pre-production begins on the first half of the film.
%p.news.text_bk== August 2010 - The idea for a short film is hatched and a treatment is prepared.