%h1.heading Talent

#talent
  #credits
    %p.credit_title WRITTEN, PRODUCED, AND DIRECTED BY:
    .credits Peter Szewczyk
    %br

    %p.credit_title BBC EXECUTIVE PRODUCERS:
    .credits Gerard O'Malley
    .credits James Rocarols
    .credits Claire Cook
    %br

    %p.credit_title CAST:
    .credits Anna Barry
    .credits Milla Karkannen

    %p.credit_title ORIGINAL SCORE:
    .credits Nic Nell

    %p.credit_title EDITOR:
    .credits Peter Szewczyk

    %p.credit_title SOUND FX/FOLEY:

    .credits Tom

    %p.credit_title VFX SUPERVISOR:

    .credits Peter Szewczyk


    %p.credit_title LONDON CREW

    %p.credit_title 1st ASSISTANT DIRECTOR

    .credits Lewis Arnold

    %p.credit_title DIRECTOR OF PHOTOGRAPHY:

    .credits Ed Moore

    %p.credit_title FOCUS PULLER:

    .credits Steve
    %p.credit_title KRAKOW CREW

    %p.credit_title 1st ASSISTANT DIRECTOR

    .credits Matt Sypien

    %p.credit_title DIRECTOR OF PHOTOGRAPHY:

    .credits Oskar Kudlacik

    %p.credit_title FOCUS PULLER:

    .credits Pawel