%h1.heading Talent

#talent
  #credits
    %p.credit_title WRITTEN, PRODUCED, AND DIRECTED BY:
    .credits Peter Szewczyk
    %br

    %p.credit_title BBC EXECUTIVE PRODUCERS:
    .credits Gerard O'Malley
    .credits James Rocarols
    .credits Claire Cook
    %br

    %p.credit_title CAST:
    .credits Anna Barry
    .credits Milla Karkannen

    %p.credit_title ORIGINAL SCORE:
    .credits Nic Nell

    %p.credit_title EDITOR:
    .credits Peter Szewczyk

    %p.credit_title SOUND FX/FOLEY:

    .credits Tom Maynard

    %p.credit_title VISUAL EFFECTS SUPERVISOR:

    .credits Peter Szewczyk


    %p.credit_title LONDON CREW

    %p.credit_title 1st ASSISTANT DIRECTOR

    .credits Lewis Arnold

    %p.credit_title DIRECTOR OF PHOTOGRAPHY:

    .credits Ed Moore

    %p.credit_title FOCUS PULLER:

    .credits Steve Smithard
    
    %p.credit_title SOUND RECORDING:

    .credits Luke Black

    %p.credit_title PRODUCTION ASSISTANT:
    
    .credits Joel Gravel
    
    .credits Nic Liu

    %p.credit_title MAKEUP:

    .credits Natasha Liu

    %br
    
    %p.credit_title KRAKOW CREW

    %p.credit_title 1st ASSISTANT DIRECTOR

    .credits Matt Sypien

    %p.credit_title LINE PRODUCER:

    .credits Kat Lesniak

    %p.credit_title DIRECTOR OF PHOTOGRAPHY:

    .credits Oskar Kudlacik

    %p.credit_title FOCUS PULLER:

    .credits Pawel Krawczyk

    %p.credit_title GRIPS:

    .credits Pawel Plonka
    .credits Marek Bajda

    %p.credit_title SOUND RECORDING:

    .credits Bartek Idzi

    %p.credit_title VISUAL EFFECTS BY LIGHT + MATHEMATICS

    %p.credit_title MODELING:
    
    .credits Armando Sepulveda

    %p.credit_title LOOK DEVELOPMENT:

    .credits Robin Reyer

    %p.credit_title RIGGING:

    .credits Keridan Elliot

    %p.credit_title ANIMATION:

    .credits Jakob Welner

    %p.credit_title COMPOSITING:

    .credits Per Mork-Jensen

    %p.credit_title SPECIAL THANKS:

    .credits Coffee
    .credits Film Polska
    .credits Elaine Szewczyk
    .credits Jaquai Adams
    .credits Andrew Edney
    .credits James Wright
    .credits Mark Sadegi
    .credits Colette Delalez 
    .credits Orlando Weeks
    .credits Stamp Films
