%h1.trailer Trailer
#trailer
  %iframe{:src => "http://player.vimeo.com/video/20288205", :width => "400", :height => "300", :frameborder => "0"}
  / %p== #{link_to "Reel | Director", "http://vimeo.com/20288205"} from #{link_to "Peter Szewczyk", "http://vimeo.com/lightandmath"} on #{link_to "Vimeo", "http://vimeo.com"}.