%h1.trailer Trailer
#trailer
  %iframe{:src => "http://player.vimeo.com/video/12593970", :width => "400", :height => "300", :frameborder => "0"}
  %p== #{link_to "Reel | Director", "http://vimeo.com/12593970"} from #{link_to "Peter Szewczyk", "http://vimeo.com/lightandmath"} on #{link_to "Vimeo", "http://vimeo.com"}.
