<footer>
  <div id="social_nav_container">
    <div id="social_nav"> 
    </div>
    <br>
    
    <p class="promo_short_page">
        <!-- Website built by <a href="http://www.marksadegi.com/" class="promo_link">GDGT productions</a> -->
    </p>
  </div>
  <div id="page-bottom"></div>
</footer>
